In [11]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pysentani
import scipy as sp

In [12]:
survey = pd.read_excel('../data-clean/sentani-merged-cleaned-2015-06-10.xlsx',na_values=[''])
print('number of entries =', len(survey))
print('number of columns =', len(survey.columns))

number of entries = 1184
number of columns = 274

In [19]:
pysentani.similar_columns(survey,'app_now')

app_now
app_now/lighting
app_now/TV
app_now/radio
app_now/fridge
app_now/fan
app_now/rice_cooker
app_now/other_cooking
app_now/welder
app_now/grinder
app_now/saw
app_now/other_tools
app_now/other

In [14]:
def access_check(app_column):
    no_access_mask = survey['access_type'] == 'no_access'
    app_mask = ((pd.notnull(survey[app_column])) & (survey[app_column] != 0))

    survey['sim_key'] = survey['simserial'].str[-5:]
    return survey[no_access_mask & app_mask][['village_name',
                                                 app_column,
                                                 'access_type',
                                                 'demand_point',
                                                 'sim_key']]

In [15]:
access_check('app_now/fridge')

     village_name  app_now/fridge access_type demand_point sim_key
227          Puai               1   no_access    household   5028f
302          Puai               1   no_access    household   5028f
468          Abar               1   no_access    household   0995f
966  Kampung_Baru               1   no_access    household   5028f

In [16]:
access_check('app_now/fan')

      village_name  app_now/fan access_type demand_point sim_key
18            Abar            1   no_access    household   5977f
138         Yokiwa            1   no_access    household   5028f
207           Puai            1   no_access    household   5028f
222         Yokiwa            1   no_access    household   5028f
227           Puai            1   no_access    household   5028f
241           Puai            1   no_access    household   5028f
268         Yokiwa            1   no_access    household   5028f
288           Puai            1   no_access    household   5028f
289           Puai            1   no_access    household   5028f
290           Puai            1   no_access    household   5028f
303           Puai            1   no_access       church   5028f
327           Puai            1   no_access    household   5028f
337           Puai            1   no_access    household   5028f
340           Puai            1   no_access    household   5028f
393           Puai            1   no_access    household   5028f
414         Yokiwa            1   no_access    household   5028f
542           Puai            1   no_access    household   5028f
661         Yokiwa            1   no_access    household   5028f
925   Kampung_Baru            1   no_access    household   5028f
934          Yoboi            1   no_access    household   5076f
1001       Khageuw            1   no_access    household   4027f

In [17]:
access_check('app_now/TV')

      village_name  app_now/TV access_type demand_point sim_key
0             Puai           1   no_access    household   5977f
1             Abar           1   no_access    household   5076f
2             Abar           1   no_access    household   5036f
3             Abar           1   no_access    household   5076f
5             Abar           1   no_access    household   5076f
6             Abar           1   no_access    household   5076f
9             Abar           1   no_access    household   5028f
10            Abar           1   no_access    household   5028f
11            Abar           1   no_access    household   5036f
12            Abar           1   no_access    household   5036f
16            Abar           1   no_access    household   5977f
17            Abar           1   no_access    household   5977f
18            Abar           1   no_access    household   5977f
19            Abar           1   no_access    household   5977f
20            Abar           1   no_access    household   5977f
21            Abar           1   no_access    household   5977f
22            Abar           1   no_access    household   5977f
25          Obolyo           1   no_access    household   5036f
26          Obolyo           1   no_access    household   5036f
30          Obolyo           1   no_access    household   5036f
31          Obolyo           1   no_access    household   5036f
32          Obolyo           1   no_access    household   5036f
33          Obolyo           1   no_access    household   5036f
37            Abar           1   no_access    household   5076f
38            Abar           1   no_access    household   5076f
39            Abar           1   no_access    household   5076f
44            Abar           1   no_access    household   5036f
45            Abar           1   no_access    household   5036f
106       Ebunfauw           1   no_access    household   5977f
138         Yokiwa           1   no_access    household   5028f
...            ...         ...         ...          ...     ...
938          Yoboi           1   no_access    household   5076f
940          Yoboi           1   no_access    household   5076f
941          Yoboi           1   no_access    household   5076f
943          Yoboi           1   no_access    household   5076f
944          Yoboi           1   no_access    household   5076f
945          Yoboi           1   no_access    household   5076f
946          Yoboi           1   no_access    household   5076f
948          Yoboi           1   no_access    household   5076f
949          Yoboi           1   no_access    household   5076f
950          Yoboi           1   no_access    household   5076f
961   Kampung_Baru           1   no_access    household   5028f
963   Kampung_Baru           1   no_access    household   5028f
965   Kampung_Baru           1   no_access    household   5028f
966   Kampung_Baru           1   no_access    household   5028f
967   Kampung_Baru           1   no_access    household   5028f
968   Kampung_Baru           1   no_access    household   5028f
969   Kampung_Baru           1   no_access    household   5028f
974   Kampung_Baru           1   no_access    household   5028f
975   Kampung_Baru           1   no_access    household   5028f
999        Khageuw           1   no_access    household   4027f
1001       Khageuw           1   no_access    household   4027f
1002       Khageuw           1   no_access    household   4027f
1005       Khageuw           1   no_access    household   4027f
1006       Khageuw           1   no_access    household   4027f
1007       Khageuw           1   no_access    household   4027f
1008       Khageuw           1   no_access    household   4027f
1012       Khageuw           1   no_access    household   4027f
1013       Khageuw           1   no_access    household   4027f
1072  Kampung_Baru           1   no_access    household   5028f
1073  Kampung_Baru           1   no_access    household   5028f

[205 rows x 5 columns]

In [18]:
access_check('app_now/rice_cooker')

    village_name  app_now/rice_cooker access_type demand_point sim_key
138       Yokiwa                    1   no_access    household   5028f
227         Puai                    1   no_access    household   5028f
272       Yokiwa                    1   no_access    household   5028f
291         Puai                    1   no_access    household   5028f
311         Puai                    1   no_access    household   5028f
493        Kalio                    1   no_access    household   5977f
524       Yokiwa                    1   no_access    household   5028f
723         Puai                    1   no_access    household   5028f