In [6]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pysentani

In [7]:
survey = pd.read_excel('../data-clean/sentani-merged-cleaned-2015-06-10.xlsx',na_values=[''])
print('number of entries =', len(survey))
print('number of columns =', len(survey.columns))

number of entries = 1184
number of columns = 274

In [12]:
pysentani.similar_columns(survey,'genset')

power_supply/private_genset
private_genset_year
private_genset_size_w_or_VA
private_genset_size_w
private_genset_size_volts
private_genset_size_amps
private_genset_price
power_supply_working/private_genset
genset_expenditure

In [29]:
household_survey = survey[survey['demand_point'] == 'household']
hh_series = pd.value_counts(household_survey['village_name'])
print(hh_series)

Ayapo           113
Sosiri           94
Flafow           68
Puai             67
Babrongko        59
Yakonde          57
Simporo          54
Yoboi            46
Donday           43
Yokiwa           38
Abar             38
Atamali          34
Kampung_Baru     33
Ebunfauw         30
Kwadeware        28
Yobeh            28
Yoka             27
Kalio            27
Asei             25
Kheleubulow      23
Evale            22
Hobong           19
Kensio           18
Khageuw          16
Ajau             14
Pantai_Yahim     13
Khamayakha       12
Obolyo           10
Burawai           5
dtype: int64

In [13]:
household_survey[['power_supply/private_genset','power_supply_working/private_genset']]

      power_supply/private_genset  power_supply_working/private_genset
0                               1                                    1
1                             NaN                                  NaN
2                               0                                    0
3                             NaN                                  NaN
4                               1                                    1
5                               1                                    1
6                               1                                    1
7                               0                                    0
8                             NaN                                  NaN
9                               1                                    1
10                              1                                    1
11                              0                                    1
12                              0                                    1
13                              0                                    1
14                              0                                    0
15                            NaN                                  NaN
16                            NaN                                  NaN
17                            NaN                                  NaN
18                            NaN                                  NaN
19                            NaN                                  NaN
20                            NaN                                  NaN
21                            NaN                                  NaN
22                            NaN                                  NaN
23                            NaN                                  NaN
24                              1                                    1
25                            NaN                                  NaN
26                            NaN                                  NaN
27                            NaN                                  NaN
28                            NaN                                  NaN
29                              0                                  NaN
...                           ...                                  ...
1150                            0                                    0
1151                            0                                    0
1152                            0                                    0
1153                            0                                    0
1154                            0                                    0
1155                            0                                    0
1156                            0                                    0
1157                            0                                    0
1158                          NaN                                  NaN
1159                            0                                    0
1160                            0                                    0
1163                            0                                    0
1164                            1                                    1
1165                            0                                    0
1166                            0                                    0
1167                            0                                    0
1168                            0                                    0
1169                          NaN                                  NaN
1170                          NaN                                  NaN
1172                            0                                    0
1173                            0                                    0
1174                            0                                    0
1175                            0                                    0
1176                            0                                    0
1177                            0                                    0
1178                            0                                    0
1179                            0                                    0
1180                            0                                    0
1181                            0                                    0
1182                            0                                    0

[1061 rows x 2 columns]

In [15]:
pd.crosstab(household_survey['power_supply/private_genset'],household_survey['power_supply_working/private_genset'])

power_supply_working/private_genset    0    1
power_supply/private_genset
0                                    735   19
1                                      9  210

In [51]:
go_df = household_survey.groupby(['village_name'])[['power_supply_working/private_genset']].agg(['count'])
#type(go_df['power_supply_working/private_genset'])
go_series = go_df['power_supply_working/private_genset']['count']

In [59]:
percentage_ownership_series = (go_series/hh_series)*100
po_dict = {'households': hh_series, 'gensets': go_series, 'percentage': percentage_ownership_series}
po_df = pd.DataFrame(po_dict)
type(po_df)

pandas.core.frame.DataFrame

In [60]:
po_df

              gensets  households  percentage
Abar               23          38   60.526316
Ajau               12          14   85.714286
Asei               24          25   96.000000
Atamali            34          34  100.000000
Ayapo             112         113   99.115044
Babrongko          59          59  100.000000
Burawai             5           5  100.000000
Donday             42          43   97.674419
Ebunfauw           30          30  100.000000
Evale              21          22   95.454545
Flafow             68          68  100.000000
Hobong             19          19  100.000000
Kalio              13          27   48.148148
Kampung_Baru       31          33   93.939394
Kensio             16          18   88.888889
Khageuw             9          16   56.250000
Khamayakha         11          12   91.666667
Kheleubulow        23          23  100.000000
Kwadeware          28          28  100.000000
Obolyo              0          10    0.000000
Pantai_Yahim       13          13  100.000000
Puai               63          67   94.029851
Simporo            54          54  100.000000
Sosiri             93          94   98.936170
Yakonde            53          57   92.982456
Yobeh              27          28   96.428571
Yoboi              29          46   63.043478
Yoka               27          27  100.000000
Yokiwa             36          38   94.736842